body {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }
  img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }
.mycard
{
    border:none;
}
.fo-row
{
   font-size: 30px;
   font-weight: 600;
}
.footer-image
{
    margin-top: 20px;
  
    
}
#carouselExampleFade
{
    margin-top: -80px;
    
}
.thanks-giving
{
    background-color: rgb(24, 20, 20);
    color:white;
    border-radius: 12px;
}
.nav-collapse-2
{
    
    position: absolute;
}
.intro-box
{
    height:40px;
    width:40px;
}
.intro-card
{
    border-radius: 10px;
    margin-top: 20px;
}
.col-allign
{
    text-align: center;
    margin-left: auto;

}
.mapouter{
    margin-top: 20px;
    position:relative;
    text-align:right;
   }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:auto;}


@media screen and (min-width:320px)
{
    .my-nav
{
    background-color: white;
    width:95%;
    border-radius:10px;
}
    .f-row
{
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
      margin-left:40%;
}
.shuffle-box
{
    margin-top:30px;
}
    .intro-box
{
    height:80px;
    width:80px;
}
    /*carousel height*/
    .carousel-inner{
        height:220px;
   
    }
    .f-medium
{
    /*standard font size*/
    font-size: 15px;
}
.f-large
{
    font-size: 20px;
}
.intro-image
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border:5px solid gainsboro;
}
    
}
.title-toggler
{
    height:40px;
    width:40px;
}
@media screen and (min-width:520px)
{
    .my-nav
{
    background-color:transparent;
    width:40%;
}
    .carousel-inner{
        height:360px;
    }
    .carousel-short
    {
        max-height:400px;
    }
    .carousel-short-inner
    {
        max-height: 380px;
    }
}
@media screen and (min-width:720px)
{
    .carousel-inner{
        height:450px;
        
    }
   
}
@media screen and (min-width:920px)
{
    .carousel-short
    {
        max-height: 320px;
    }
    .carousel-short-inner
    {
        max-height: 270px;
    }
    .carousel-inner{
        height:600px;
        
    }
    .f-medium
{
    font-size: 20px;
}
.f-large
{
    font-size: 40px;
}
.intro-image
{
    height:80px;
    width:80px;
}
}
@media screen and (min-width:1200px)
{
    .carousel-inner{
        height:800px;
        
    }
   
}